.ecb-button
	background: $color-light
	border: none
	padding: 8px 12px
	border-radius: 5px

	&.ecb-button-primary
		background-color: $color-primary
		color: $color-primary

	&.ecb-button-white
		background-color: $color-white
		color: $color-text

	&.ecb-button-danger
		background-color: $color-danger
		color: $color-white
